.image-overview {

  display: grid;
  margin: 0;
  

  grid-template-columns: repeat(auto-fill, minmax(var(--grid-size), 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  &__item {
    display: block;
    position: relative;
  }
}

.image-holder {
  position: relative;
  height: 0;
  padding-top: 100%;

  &__item {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
    z-index: 1;
    transition: all $tr-fast;

    &.is-large{
      transform: scale(3);
      z-index: 10;
      box-shadow: $text-shadow;
      background: #fff;
      object-position: top left;
    }

    &.is-bad{
      opacity: 0.3;
      transform: scale(0.5);
    }

    &.is-marked{
      border: solid $interaction-color $border-width;
    }

    &.is-fav{
      transform: rotate(3deg);
      box-shadow: $text-shadow;
      background: #fff;
      z-index: 10;
    }
  }
}

/* TOC
---------------------------------------------------------------------------- */
.toc{
  &__item{
    margin-bottom: $s;

    a{
      text-decoration: none;
      transition: all $tr-fast;
      &:hover{
        letter-spacing: 1px;
      }
    }
  }
}

/* Page Header
---------------------------------------------------------------------------- */

.page-header{
  border-bottom: solid $border-color $border-width;
  margin-bottom: $xl;
  h1{
    font-weight: $fw-light;
    padding-bottom: $m;

    a{
      text-decoration: none;
    }
  }
}

/* Image Grid Wrap
---------------------------------------------------------------------------- */

.image-wrap{
  z-index: 1;
  padding-bottom: $xl;
  border-bottom: solid $border-color $border-width;
  margin-bottom: $xl;

  h2{
    margin-bottom: $xl;
  }
  
}

/* Image Zoom
---------------------------------------------------------------------------- */

.image-zoom{

  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all $tr-fast;
  background-color: $mi-hellgrau;

  img{
    transform: scale(0.1);
    object-fit: contain;
    transition: all $tr-fast;
  }

  figcaption{
    position: absolute;
    left: $m;
    bottom: 0;
    padding: $xs $s;
    background-color: #fff;
    transition: all $tr-medium;
  }

  &.is-active{
    opacity: 1;
    z-index: 50;

    img{
      transform: scale(1);
      width: 100%;
      height: 100%;
    }

    figcaption{
      bottom: $m;
    }

  }
  
}


/* Image Menu
---------------------------------------------------------------------------- */

#image-menue{
  position: fixed;
  right: -50%;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 200;
  transition: all $tr-fast;
  padding: $s;

  &.is-active{
    right: 0;
  }
  .image-options{
    &__item{
      margin-bottom: $s;
      color: $mi-pink;
      text-shadow: $text-shadow;
      
      &.is-active{
        color: $mi-gruen;
      }

      &:hover{
        cursor: pointer;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


/* Grid Menu
---------------------------------------------------------------------------- */
#grid-menue{
  position: fixed;
  bottom: 0;
  left: 50vw;
  display: flex;
  justify-content: center;
  padding: $s;
  z-index: 755;
  width: 400px;
  transform: translateX(-200px);
}


/* Slider (from http://danielstern.ca/range.css/#/)
---------------------------------------------------------------------------- */
input[type=range] {
  width: 100%;
  margin: -0.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 25px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 0.3px;
  width: 24px;
  height: 24px;
  background: #ff1166;
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}
input[type=range]::-moz-range-track {
  background: rgba(0, 0, 0, 0.2);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 25px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #ff1166;
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0.5px 0;
  color: transparent;
  width: 100%;
  height: 25px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.2);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #ff1166;
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.2);
}
input[type=range]:focus::-ms-fill-upper {
  background: #808080;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
